@import url(https://fonts.googleapis.com/css?family=Raleway);

.Body{
  color:white;
  text-align: center;
  font-family: "Raleway";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logoutBtn{
  margin-left: 25px;
}

#loginPage{
  color: white
}

.appExplination {
  max-width: 400px;
  width: auto;
  margin: auto;
  letter-spacing: 1px;
  font-size: larger;
}

.nav-item .dropdown-menu {
  background: white;
}
.nav-item .dropdown-item:hover {
  background: #39C0ED;
}

.allSearch {
  margin: auto;
  width: 350px;}

.allFoodsCard{
  display: inline-flex;
 margin-left: 15px;
  margin-top: 15px;
  width: 15rem;
  }