@import url(https://fonts.googleapis.com/css?family=Raleway);

.Body{
  color:white;
  text-align: center;
  font-family: "Raleway";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logoutBtn{
  margin-left: 25px;
}

#loginPage{
  color: white
}

.appExplination {
  max-width: 500px;
  width: auto;
  margin: auto;
  letter-spacing: 1px;
  font-size: larger;
}

.nav-item .dropdown-menu {
  background: white;
}
.nav-item .dropdown-item:hover {
  background: #39C0ED;
}

.allSearch {
  margin: auto;
  width: 350px;}

.allFoodsCard{
  display: inline-flex;
 margin-left: 15px;
  margin-top: 15px;
  width: auto;
  }
#pantryTitle {
  font-size: 5em;
  font-weight: bolder;
  color: #39C0ED;
}
  .pantryItemCard {
    display: inline-flex;
    margin-left: 15px;
  margin-top: 15px;
  }
  .pantrySearch{
    display: inline-flex; 
  }
  
 .expiring{
   display: inline-flex;
   width: auto;
   margin-left: 5px;
 }
#expireTitle {
  font-size: 3em;
  color: #df4759;
}
.pantrySection {
  font-size: 3em;
/* border: 5px;
border-color: #39C0ED;
border-style: solid;
border-radius: 10%;
width: auto;
margin-bottom: 5px; */
}